$black: #1c1c1c
$gray: #efefef
$lightblue: #68cfff
$blue: #0aa6f0

.color
  &-black
    color: $black
  &-gray
    color: $gray
  &-blue
    color: $blue
  &-white
    color: #fff
.bg
  &-black
    background-color: $black
    &:hover
      background-color: lighten($black, 5%)
  &-gray
    background-color: $gray
    &:hover
      background-color: lighten($gray, 5%)
  &-blue
    background-color: $blue
    &:hover
      background-color: lighten($blue, 5%)
  &-white
    background-color: #fff