<template>
  <div class="home">
    <p>Aute esse nulla aliquip cupidatat non quis et. Excepteur incididunt exercitation laboris magna cupidatat ullamco pariatur. Commodo voluptate reprehenderit non duis irure aliquip veniam anim esse anim. Reprehenderit proident et Lorem cupidatat sint nostrud adipisicing enim do cillum consequat adipisicing. Exercitation tempor nulla sunt tempor dolor deserunt irure eu est laborum elit quis dolore. Et irure quis pariatur ad veniam.</p>
    <p>Aute esse nulla aliquip cupidatat non quis et. Excepteur incididunt exercitation laboris magna cupidatat ullamco pariatur. Commodo voluptate reprehenderit non duis irure aliquip veniam anim esse anim. Reprehenderit proident et Lorem cupidatat sint nostrud adipisicing enim do cillum consequat adipisicing. Exercitation tempor nulla sunt tempor dolor deserunt irure eu est laborum elit quis dolore. Et irure quis pariatur ad veniam.</p>
    
    <i-input type="text" placeholder="texto" label="Texto"/>
    <i-select label="Texto">
      <option value="a">a</option>
      <option value="b">b</option>
      <option value="c">c</option>
    </i-select>
    <i-textarea placeholder="texto" label="Texto"/>
    <i-button backgroundColor="blue" color="white">Cadastrar</i-button>
  </div>
</template>

<script>
import IInput from '@/components/IInput'
import ITextarea from '@/components/ITextarea'
import ISelect from '@/components/ISelect'
import IButton from '@/components/IButton'
export default {
  name: 'home',
  components: {
    IInput,
    ITextarea,
    ISelect,
    IButton
  }
}
</script>