<template>
  <div class="login">
    <div class="container" v-if="isReady">
      <div class="row justify-content-center align-items-center">
        <div class="col-4">
          <div class="logo animated fadeInDown">
            <logo :width="148" text/>
          </div>
          <div class="box">
            <form>
              <i-input label="Nome de usuário" placeholder="nome@email.com"/>
              <i-input label="Senha" type="password" placeholder="••••••••"/>
              <router-link :to="{ name: 'conteudos' }">
                <i-button backgroundColor="blue" color="white" full>Go to the Everest</i-button>
              </router-link>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/components/Logo'
import IInput from '@/components/IInput'
import IButton from '@/components/IButton'
export default {
  name: 'Login',
  components: {
    Logo,
    IInput,
    IButton
  },
  data() {
    return {
      isReady: false
    }
  },
  created() {
    setTimeout(() => this.isReady = true, 100)
  }
}
</script>

<style lang="sass" scoped>
@import '../assets/css/colors.sass'

.login
  height: 100vh
  width: 100%
  background: linear-gradient(180deg, $blue, $lightblue)

.box
  background: #fff
  padding: 30px

.logo
  margin: -30px auto 30px

input
  display: block
  width: 100%
  border: 0
  background: #f1f1f1
  padding: 10px
  margin-bottom: 10px
  font-size: 16px
  &:focus
    outline: 0

.container,
.row
  height: inherit
</style>