<template>
  <button class="ibutton" :class="`${full ? 'full' : ''} bg-${backgroundColor} color-${color}`"><slot/></button>
</template>

<script>
export default {
  name: 'IButton',
  props: {
    full: {
      type: Boolean,
      default: false
    },
    backgroundColor: {
      type: String,
      default: 'default'
    },
    color: {
      type: String,
      default: 'default'
    },
  }
}
</script>

<style lang="sass" scoped>
@import '../assets/css/colors.sass'

.full
  width: 100%

button
  $color: #f1f1f1
  border: 0
  font-size: 14px
  background-color: $color
  padding: 10px 16px
  cursor: pointer
  transition: background-color .3s
  &:hover
    background-color: darken($color, 3%)
  &:focus
    outline: 0
</style>