<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <input :type="type" :placeholder="placeholder" :style="{ width: width ? `${width}px` : '' }">
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },
    placeholder: String,
    label: String,
    width: Number
  }
}
</script>

<style lang="sass" scoped>
input
  display: block
  width: 100%
  border: 0
  background: #f1f1f1
  padding: 10px
  margin-bottom: 10px
  font-size: 16px
  color: #757575
  &:focus
    outline: 0

label
  font-size: 14px
  display: block
  margin-bottom: 4px
</style>