<template>
  <nav v-if="$route.name !== 'login'">
    <div class="menu d-flex justify-content-between align-items-center">
      <ul class="d-flex align-items-center">
        <li class="logo animated fadeIn">
          <router-link to="/">
            <logo :width="65"/>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'conteudos' }">Conteúdos</router-link>
        </li>
        <li>
          <router-link to="/a">Home</router-link>
        </li>
        <li>
          <router-link to="/b">Home</router-link>
        </li>
        <li>
          <router-link to="/c">Home</router-link>
        </li>
      </ul>
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="avatar" :style="{ backgroundImage: `url(${Avatar})` }"></div>
          <router-link to="/" class="config">
            <img src="../assets/img/config.svg" alt="Configurações" title="Configurações">
          </router-link>
        </div>
      </div>
    </div>
    <div class="breadcrumbs">
      {{ $route.fullPath.split('/').join(' / ') }}
    </div>
  </nav>
</template>

<script>
import Avatar from '@/assets/img/avatar.jpg'
import Logo from '@/components/Logo'
export default {
  name: 'INav',
  data() {
    return {
      Avatar
    }
  },
  components: {
    Logo
  }
}
</script>

<style lang="sass" scoped>
@import '../assets/css/colors.sass'

.breadcrumbs
  font-size: 15px
  word-spacing: 2px
  padding: 10px 30px
  background: $blue
  color: #fff

.menu
  background: $lightblue
  height: 72px
  padding: 0 30px
  ul
    a
      text-decoration: none
      color: #fff
      font-size: 15px
      font-weight: 700
      transition: color .3s
      padding-bottom: 2px
      border-bottom: 2px solid transparent
      &.router-link-active,
      &:hover
        border-color: #fff

ul
  padding: 0
  margin: 0

li
  display: inline-block
  margin-right: 30px
  &:last-child
    margin-right: 0


.logo
  margin-right: 80px
  position: relative
  top: 1px
  a
    line-height: 0
    font-weight: 400
    font-size: 27px
    border: 0

.avatar
  height: 43px
  width: 43px
  background: $blue
  border-radius: 50%
  overflow: hidden
  margin-right: 10px
  background-size: cover
  background-repeat: no-repeat
  filter: grayscale(100%) brightness(120%) contrast(90%)

.config
  img
    width: auto
    height: 27px
    padding-left: 10px
    position: relative
    top: 4px
</style>
