<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <select :name="name" :style="{ width: width ? `${width}px` : '' }">
      <slot/>
    </select>
  </div>
</template>

<script>
export default {
  name: 'ISelect',
  props: {
    name: {
      type: String,
      require: true
    },
    label: String,
    width: Number
  }
}
</script>

<style lang="sass" scoped>
select
  display: block
  width: 100%
  border: 0
  background: #f1f1f1
  padding: 10px
  margin-bottom: 10px
  font-size: 16px
  color: #757575
  -webkit-appearance: button
  border-radius: 0
  &:focus
    outline: 0

label
  font-size: 14px
  display: block
  margin-bottom: 4px
</style>