<template>
  <div class="isidebar" v-if="$route.name !== 'login'" :style="{ width: `${width}px` }">
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <router-link :to="{ name: item.name, params: item.params }"> 
          {{ item.title }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ISidebar',
  props: {
    width: Number,
    items: Array
  }
}
</script>

<style lang="sass" scoped>
@import '../assets/css/colors.sass'
ul
  padding: 0
  margin: 0
  width: 100%
  padding: 0 15px
  li
    list-style: none
    &:last-child
      a
        border: 0

a
  text-decoration: none
  display: block
  padding: 10px 15px
  font-size: 14px
  border-bottom: 1px solid $gray
  color: #7d7c7c
  transition: background-color .3s
  &:hover
    background-color: $gray

.isidebar
  width: 300px
  flex-shrink: 0
  overflow-y: scroll
  border-right: 1px solid $gray
  height: inherit
</style>