<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <textarea :placeholder="placeholder" :style="{ width: width ? `${width}px` : '' }" v-html="text"></textarea>
  </div>
</template>

<script>
export default {
  props: {
    placeholder: String,
    label: String,
    text: String,
    width: Number,
  }
}
</script>

<style lang="sass" scoped>
textarea
  display: block
  width: 100%
  border: 0
  background: #f1f1f1
  padding: 10px
  margin-bottom: 10px
  min-height: 200px
  font-size: 16px
  color: #757575
  &:focus
    outline: 0

label
  font-size: 14px
  display: block
  margin-bottom: 4px
</style>