<template>
  <div>
    <svg x="0px" y="0px" viewBox="0 0 85.4 50.5" xml:space="preserve" :style="{ width }">
      <g>
        <g>
          <g>
            <path d="M85.4,50.6H0l26.9-36.9l7.4,8.9L49.4,0L85.4,50.6z M5.9,47.6h73.7L49.5,5.3L34.6,27.6L27,18.6L5.9,47.6z"/>
          </g>
          <g>
            <polygon points="16.2,44 13.7,42.3 26.9,24.2 35.1,33.9 32.8,35.9 27,29.1 			"/>
          </g>
          <g>
            <polygon points="57.2,27.5 49.5,15.9 43.2,25.9 40.7,24.3 49.4,10.4 59.7,25.8 			"/>
          </g>
        </g>
      </g>
    </svg>
    <span v-if="text">Everest</span>
  </div>
</template>

<script>
export default {
  name: 'logo',
  props: {
    width: {
      type: Number,
      required: true
    },
    text: {
      type: Boolean,
      default: false
    }
  }
}
</script>


<style lang="sass" scoped>
svg
  enable-background:new 0 0 85.4 50.5
  margin: 0 auto
  display: block
  position: relative
  top: -1px
  path,
  polygon
    fill: #fff

span
  font-weight: 300
  display: block
  text-align: center
  color: #fff
  text-transform: uppercase
  font-size: 40px
</style>
