<template>
  <div class="page">
    <router-view/>
  </div>  
</template>

<script>
export default {
  name: 'page'
}
</script>

<style lang="sass" scoped>
.page
  flex: 1
  overflow-y: scroll
  padding: 40px
</style>