<template>
  <div class="window">
    <i-sidebar :items="items" :width="300"/>
    <page/>
  </div>
</template>

<script>
import ISidebar from '@/components/ISidebar'
import Page from '@/components/Page'

export default {
  name: 'window',
  components: {
    ISidebar,
    Page
  },
  data() {
    return {
      items: [
        {
          name: 'conteudos/paginas/pagina',
          title: 'A',
          params: {
            name: 'a'
          }
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.window
  display: flex
</style>
