<template>
  <div id="app">
    <i-nav/>
    <div :class="{ 'login': isLogin }">
      <i-sidebar :items="items" :width="300"/>
      <router-view/>
    </div>
  </div>
</template>

<script>
import INav from '@/components/INav'
import ISidebar from '@/components/ISidebar'

export default {
  name: 'app',
  data() {
    return {
      items: [
        {
          title: 'Páginas',
          name: 'conteudos/paginas'
        }
      ]
    }
  },
  computed: {
    isLogin() {
      return this.$route.name == 'login'
    }
  },
  components: {
    INav,
    ISidebar
  }
}
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.min.css')
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  background: #fff

p
  margin-top: 0
</style>

<style lang="sass" scoped>
#app 
  div
    display: flex
    height: calc(100vh - 112px)
    width: 100%
  .login
    height: 100vh
</style>